{% extends "core/base.html" %}

{% block title %}Contact {% endblock %}


{% block content %}

<div class="p-6 bg-gray-100 rounded-xl">
    <h1 class="text-xl font-bold text-gray-500">Contact the Admin</h1>
    <p class="font-semibold">Email: anindya5636@gamail.com </p>
    <p class="font-semibold">Phone: 123-456-7890</p>
    <p class="font-semibold">Hours: 9am-5pm Monday-Friday</p>
    <p class="font-semibold">Address: 1234 Admin Street, Admin City, Admin State, 12345</p>
    <div class="p-3 bg-gray-200 rounded-xl">
        <p class="font-semibold">Follow me on social media:</p>
        <div class="p-3 space-x-2">
            <a href="https://github.com/anindya127" target="_blank"><i class="fa-brands fa-github fa-bounce fa-xl"></i></a>
            <a href="https://www.facebook.com/anindyamazumder.anik/" target="_blank"><i class="fa-brands fa-facebook fa-bounce fa-xl"></i></a>
            <a href="https://www.instagram.com/anindya_mozumder2/" target="_blank"><i class="fa-brands fa-instagram fa-bounce fa-xl"></i></i></a>
            <a href="https://www.linkedin.com/in/anindya-mozumder-772723225/" target="_blank"><i class="fa-brands fa-linkedin fa-bounce fa-xl"></i></a>
        </div>
        </div>
    <p>Feel free to reach out with any questions or concerns!</p>
</div>
{% endblock %}